In [4]:
import pandas as pd
import math
from sklearn import linear_model

df = pd.read_csv('homeprices1.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
#preprocessing
median_bedrooms = math.floor(df.bedrooms.median())
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
reg =  linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)
reg.coef_, reg.intercept_

(array([  112.06244194, 23388.88007794, -3231.71790863]), 221323.00186540408)

In [10]:
reg.predict([[3000, 3, 15]])

d:\users\apytl\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([579201.19929613])

In [12]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

d = pd.read_csv("hiring.csv")

d.experience = d.experience.fillna("zero")
d

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [16]:
d.experience = d.experience.apply(w2n.word_to_num)
d

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')